/* || General setup */

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
  background-color: #dde;
}

h1 {
  font-size: 4rem;
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 2rem;
  margin: 0;
  text-align: center;
}

body {
  width: 80%;
  min-width: 1024px;
  margin: 0 auto;
}

p,
input,
li,
table,
label {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #2a2a2a;
}

p,
li,
table {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* || header layout */

div[class="nav"],
article,
footer,
.secondary {
  background-color: rgb(250, 253, 250);
}

article,
footer,
.secondary {
  padding: 10px 30px;
}

article {
  margin-right: 10px;
}

div[class="nav"] {
  height: 50px;
  background-color: ff80ff;
  display: flex;
  padding: 1% 0;
  margin-bottom: 10px;
}

div[class="nav"] ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

div[class="nav"] li {
  display: inline;
  text-align: center;
  flex: 1;
}

div[class="nav"] a {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

div[class="nav"] .search {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2em;
}

.search input {
  font-size: 1.6rem;
  height: 32px;
}

.search input[type="search"] {
  flex: 3;
}

.search input[type="submit"] {
  flex: 1;
  margin-left: 1rem;
  background: #333;
  border: 0;
  color: white;
}

/* || main layout */

main {
  display: flex;
}


footer {
  margin-top: 10px;
}

/* Table styling */

table {
  width: 100%;
  background-color: rgb(241, 241, 247);
  border-collapse: collapse;
  margin: 30px;

}

th,
td {
  padding: 30px;
}

td {
  text-align: center;
  font-weight: bold;
}

tbody {
  padding: 30px;
  margin: 0 auto;
}

th[scope="col"] {
  border-bottom: 1px solid black;
}

tbody tr:nth-child(odd) {
  background-color: rgb(224, 233, 243);
}

/* styling content images and audio */

img,
audio {
  display: block;
  margin: 30px;
}

audio {
  width: 500px;
  align-self: center;
}

/* Comments styling */

.comments {
  background-color: rgb(222, 234, 246);
  padding: 10px;
}

.show-hide {
  cursor: pointer;
}

.comments font {
  font-size: 2rem;
}

.comments font:nth-of-type(2) {
  margin-bottom: 0;
}

.comment-form {
  margin-bottom: 3rem;
}

.comment-form .flex-pair {
  display: flex;
  padding: 0 3rem 1rem;
}

.comment-form label {
  align-self: center;
  flex: 2;
  text-align: right;
}

.comment-form input {
  margin-left: 1rem;
  flex: 6;
}

.show-hide {
  text-align: center;
  width: 150px;
}

.comment-form input,
.comment-form label,
.show-hide {
  font-size: 1.6rem;
  line-height: 32px;
}

.comment-form input[type="submit"],
.show-hide {
  background: #333;
  border: 0;
  color: white;
}

.comment-form input[type="submit"] {
  width: 30%;
  display: block;
  margin: 0 auto;
}

.comment-container {
  margin-top: 0;
}

.comment-container li {
  list-style-type: none;
  display: flex;
}

.comment-container li p:nth-child(1) {
  flex: 1;
  font-weight: bold;
}

.comment-container li p:nth-child(2) {
  flex: 5;
}

